<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942459689260-9va7dmjr71ub5j5paeihllfobvui1ad9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942459689260-9va7dmjr71ub5j5paeihllfobvui1ad9</string>
	<key>API_KEY</key>
	<string>AIzaSyBwIlZlQMaThJJNFkUrwY4FgvaX549GPgg</string>
	<key>GCM_SENDER_ID</key>
	<string>942459689260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.eventkreyol</string>
	<key>PROJECT_ID</key>
	<string>eventkreyol</string>
	<key>STORAGE_BUCKET</key>
	<string>eventkreyol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942459689260:ios:a5bfa29531e6058d323489</string>
</dict>
</plist>