<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085295647751-ufl4vh7cm2r2fcknsdsen913ge5320bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085295647751-ufl4vh7cm2r2fcknsdsen913ge5320bv</string>
	<key>API_KEY</key>
	<string>AIzaSyADQhhjslfkxFv9zj9jM5HSDBSa0uHE5Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>1085295647751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.restauranterincondegalicia</string>
	<key>PROJECT_ID</key>
	<string>rincondegalicia-d8602</string>
	<key>STORAGE_BUCKET</key>
	<string>rincondegalicia-d8602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085295647751:ios:1b2652038e08a0ba8c9ea2</string>
	<key>DATABASE_URL</key>
	<string>https://rincondegalicia-d8602.firebaseio.com</string>
</dict>
</plist>