<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417705391268-dh91vh37q5j2pj6fk4d5dsp62vvf0eqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417705391268-dh91vh37q5j2pj6fk4d5dsp62vvf0eqk</string>
	<key>API_KEY</key>
	<string>AIzaSyBqiKiMEEAo3ChvJxVIqweiWH_O_v1hQq8</string>
	<key>GCM_SENDER_ID</key>
	<string>417705391268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.Awakening-Clarity-Now</string>
	<key>PROJECT_ID</key>
	<string>awakening-clarity-now</string>
	<key>STORAGE_BUCKET</key>
	<string>awakening-clarity-now.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417705391268:ios:e6061079af4d3f9890a231</string>
</dict>
</plist>