<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489322900796-rodkbialnbi180b4aai6b98o4ma4nbb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489322900796-rodkbialnbi180b4aai6b98o4ma4nbb5</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3Z2vXwPqfuqdWPoWY1N6X8kIpcvestk</string>
	<key>GCM_SENDER_ID</key>
	<string>489322900796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.softment.Oh-Crepe---Waffles</string>
	<key>PROJECT_ID</key>
	<string>oh-crepe-and-waffles</string>
	<key>STORAGE_BUCKET</key>
	<string>oh-crepe-and-waffles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489322900796:ios:28e96fdd900b576e3c8239</string>
</dict>
</plist>